<html>
	<head>
		<title>Urgent Care Information</title>
	</head>
	<body>
		<div>
			<h2 align="center">Urgent Care Information</h2>
		</div>
		<div>
			<h4>What is an Urgent Care Center?</h4>
		</div>
		<div>
			<p>An urgent care center is a walk-in medical facility that can treat outpatients for acute and chronic illness and injury. Urgent care should not replace your primary care physician but is a good alternative when you can not schedule an appointment with your primary care physician in a timely manner. Urgent care centers typically have extended hours past your primary care physician and can be an alternative to waiting in an Emergency Department for certain illnesses and injuries.<sup>1</sup></p>
		</div>
		<div>
			<h4>What is the difference between Urgent Care and Emergency Departments?</h4>
		</div>
		<div>
			<p>The main difference between Urgent Care and Emergency Departments is the level of treatment that the facility is equipped and capable of providing. If your illness or injury is life-threatening or very severe you should go to an Emergency Department to be seen immediately. However, if you need to be treated quickly but your symptoms are less severe an Urgent Care can be more efficient and less expensive.<sup>2</sup> Many Urgent Care centers have onsite diagnositic tests.<sup>3</sup></p>
		</div>
		<ul>
			<lh><b>Urgent Care</b></lh>
			<li>Symptoms: Non-life threatening: examples are fever, ear pain, nose bleeds,painful urination, persistent diarrhea, sore throat, vomiting, mild asthma, minor burns, rashes and other skin irritations, animal bites, dehydration, lacerations, infections, simple fractures and sprains.<sup>2</sup></li>
			<li>Hours: Most have extended hours beyond standard office hours and are open 7 days a week.<sup>2</sup></li>
			<li>Cost: Most cases save money over visiting an ED, with an average cost of $200.<sup>1,2</sup></li>
		</ul>
		<ul>
			<lh><b>Emergency Department</b></lh>
			<li>Symptoms: Advanced treatment or life threatening: examples are confusion, head injury, coughing blood, severe chest pain, shortness of breath, abdominal pain, sudden vision changes, spinal injuries, uncontrollable bleeding, severe vomiting and/or diarrhea, seizures, drug overdoses and sever burns.<sup>2</sup></li>
			<li>Hours: Emergency Departments are open 24 hours 7 days a week.<sup>2</sup></li>
			<li>Cost: The average cost of an ED visit is around $1400. ED visits also have the potential for multiple charges, higher co-pays, and the risk of having to cover bills if your insurance deems the event a non-medical emergency.<sup>2,4</sup></li>
		</ul>
		<div>
		<ol>
			<lh><b>References</b></lh>
			<li>http://aaucm.org/about/urgentcare/default.aspx</li>
			<li>https://www.fastmed.com/health-resources/difference-between-urgent-care-and-emergency-room/</li>
			<li>https://www.bcbsm.com/index/health-insurance-help/faqs/topics/getting-care/emergency-room-vs-urgent-care-center.html</li>
			<li>https://www.urgentcarelocations.com/urgent-care-101/faq/urgent-care-center-vs-emergency-room</li>
		</ol>