<html>
	<head>
		<title>Weather alerts</title>
	</head>
	<body>
		<div>
			<h2>Weather Alerts for {{zipcode}}</h2>
		</div>
		{% for alert in weather %}
			<div>
				<!--https://docs.djangoproject.com/en/dev/ref/templates/builtins/#linebreaksbr-->
				<p>{{alert|linebreaksbr}}</p>
			</div>
		{% endfor %}
		<div>
            <p style="font-size:12px">The weather alerts are gathered from WeatherUnderground API. If there are no alerts for your zipcode we checked for extreme weather including heat index and wind chill using OpenWeatherMap API.</p>
        </div>
    </body>